 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('_variables.css');
@import url('global.css');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.page-wrap {
	padding-top: 65px;
}

.content-wrap {
	max-width: 1005px;
	margin: 0 auto;
	padding: 0 30px;
}

.header-foto {
	margin-top: 36px;
}

.header-foto img {
	margin: 0 auto;
}

.f-dir-column-mob {
	flex-direction: column;
}

.page-header {
	position: relative;
	min-height: calc(100vh - 65px) ;
}

.page-header .lang {
	transform: rotate(-90deg);
	display: none;
}

.lang span[id] {
	color: #828282;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	
}

.lang span.active {
	color: #000;
}

.menu-icon {
	position: absolute;
	width: 33px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.open-icon {
	right: 0;
	top: 0;
	background-image: url('../img/ikons/menu_FILL0_wght400_GRAD0_opsz48.svg');
}

.close-icon {
	top: 65px;
	right: 30px;
	background-image: url('../img/ikons/close_FILL0_wght400_GRAD0_opsz48.svg');
}

.title {
	margin-bottom: 23px;
	font-size: 47px;
	line-height: 58px;
}

.mob-menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transform: translateX(200vh);
	padding-top: 65px;
	background-color: var(--white);
	transition: all .5s ease;
}

.mob-menu.show {
	background-color: #fff;
	transform: none;
	transition: all .5s ease;
	font-size: 34px;
	line-height: 42px;
	margin: 0 27px;
}

.menu-list__mb li a {
	text-decoration: none;
	color: #828282;
	line-height: 42px;
	margin-bottom: 68px;
}

li {
	list-style: none;

}

.menu-list__mb a:hover {
	color: #000;
}

.desktop-menu {
	display: none;
}

.subtitle {
	font-size: 18px;
	line-height: 22px;
}

.hop {
	position: absolute;
	display: inline-block;
	transform: rotate(90deg);
	bottom: 57px;
	right: 5px;
}

section.about {
	margin-top: 85px;
	padding: 88px 0 75px;
	background-color: #F6F6F6;
}

section.skilis {
	padding: 85px 0 100px;
}

section.skilis .section-title {
margin-bottom: 50px;
}

section.skilis .row {
	padding-top: 70px;
}

section.skilis .item-img {
	width: 89px;
	margin: 0 auto 23px;
}


section.skilis .item-img img:not(:last-child){
	width: 100%;
	height: auto;
	object-fit: cover;
}

.item__skill .section-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
}

.skils .sction-text {
	padding-bottom: 80px;
}

.item.item__skill {
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
}


.level__skill {
	margin-top: 41px;
	text-align: center;
}

.fa-star {
	margin-left: 9px;
}

/*---------------------------------------------------------------*/

.portfolio {
	background: #F6F6F6;
}

.portfolio .content-wrap {
	padding: 80px 30px;

}

.content-wrap .section-title {
	margin-bottom: 47px;
}

.project {
	max-width: 936px;
	margin: 0 auto;
	padding: 0 30px;
	margin-bottom: 75px;
}

.worg-img {
	width: 100%;
}

.link {
	display: flex;
	justify-content: center;
	margin: 35px;
}

.link__worg {
	font-size: 18px;
	line-height: 22px;
	color: #070707;
}


.footer .content-wrap {
	padding: 80px 0 90px;
}

.footer .section-text {
	padding: 0 0 30px 0;
}

.button {
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
}

button {
	padding: 10px 30px;
	font-size: 18px;
	line-height: 22px;
	border-radius: 20px;
	background-color: #000;
	color: #fff;
}

button:hover {
	font-weight: 700;
	background-color: #828282;
	color: #000;
}

.icons {
	display: flex;
	justify-content: center;
	font-size: 36px;
}

.fa-brands {
	padding: 0 30px;
}

.fa-brands:hover {
	color: #828282;
}

.text {
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	text-align: center;
	margin: 50px 0 auto;
}


/*---------------------- media queries --------------------------*/

@media screen and (min-width: 993px) {
	
	.page-wrap {
		padding-top: 0;
	}

	.page-header {
		min-height: 100vh;
	}

	.desktop-menu {
		display: block;
		height: 88px;
		border-bottom: 1px solid #828282;
	}

	.menu-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 88px;
		list-style: none;
	}

	.menu-list a {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: #828282;
		text-decoration: none;
	}

	.menu-list a:hover {
		color: #070707;
	}

	.open-icon,
	.mob-menu {
		display: none;
	}

	.f-dir-column-mob {
		flex-direction: row;
		justify-content: space-between;
	}

	.page-header .lang {
		display: block;
	}

	.d-header {
		margin: 40px 0 30px;
		align-items: end;
	}

	.d-header .title {
		margin-bottom: 0;
	}

	section.about {
		margin-top: 105px;
		padding: 120px 0 110px;
	}

	section.skilis {
		padding: 90px 0 110px;
	}

	section.skilis .section-title {
		margin-bottom: 70px;
		}

		section.skilis .row {
			padding-top: 85px;
		}

		.project {
			max-width: 936px;
			margin: 0 auto;
			padding: 0 30px;
			margin-bottom: 100px;
		}

		.link {
			display: flex;
			justify-content: center;
			margin: 45px;
		}

		.footer .content-wrap {
			padding: 115px 0 120px;
		}

		.fa-brands {
			padding: 0 40px;
		}
}
