.circle {
	height: 140px;
	max-width: 140px;
	background-color: blue;
	box-shadow: rgb(255, 0, 0) 1px 1px 0px 50px;
	margin: 200px auto;
	border-radius: 50%;
	border: 75px #fff solid;
}

/* .circle{
	display: block;
	height: 400px;
	max-width: 400px;
	margin: 100px auto;
	border-radius: 50%;
	background-color: red;
}

.circle::after {
	content: '';
	display: block;
	height: 250px;
	max-width: 250px;
	border-radius: 50%;
	background-color: #fff;
} */
